<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Screen</title>
    <link rel="stylesheet" href="/Style/style.css" />
    <link rel="stylesheet" href="/Style/csspages/atividadesComplementares.css">
    <link rel="stylesheet" href="/Style/csspages/perfilDoAluno.css">
    <link rel="stylesheet" href="/Style/csspages/home.css">
    <link rel="stylesheet" href="/Style/csspages/estatisticas.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />


</head>

<body>
    <header class="container">
        <%- include('partials/navbar') %>
    </header>
    <main id="app">
        <%- main %>
    </main>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>

</html>

<script src="js/javascript.js">
</script>