<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="/Style/csspages/cadastro.css">
</head>

<body id="cadastro">
    <div id="container">
        <div class="form">
            <div class="back-box">
                <a href="/"><img src="Images/arrow.svg" alt=""></a>
            </div>
            <h1>Cadastro</h1>
            <p>Preencha com seus dados o formulario abaixo para realizar seu cadastro</p>
            <form action="/cadastrar" method="POST">
                <div class="input-group caixa-select">
                    <label for="">Nome</label>
                    <input type="text" name="nome" id="">
                    <label for="">Sobrenome</label>
                    <input type="text" name="sobrenome" id="">
                    <div class="select-group">
                        <label for="">Tipo de Curso</label>
                        <br>
                        <select name="tipo_curso" id="tipo_curso">
                            <% cursos_recuperado.forEach(function(cursos_recuperado){ %>
                                <option value="<%= cursos_recuperado.id_tipo_curso%>" id="">
                                    <%= cursos_recuperado.tipo_curso%>
                                </option>
                                <% }); %>
                        </select>
                        <br>
                        <label for="">Curso</label>
                        <br>
                        <select name="curso" id="curso" onchange="">
                            <% cursos_recuperado.forEach(function(cursos_recuperado){ %>
                                <option value="<%= cursos_recuperado.id_cursos%>" id="">
                                    <%= cursos_recuperado.curso%>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <br>
                    <label for="">E-mail</label>
                    <input type="email" name="email" id="">
                    <label for="">CPF</label>
                    <input type="text" name="cpf" id="cpf ">
                    <label for="">Data de Nascimento</label>
                    <input type="text" value="" name="nascimento" id="nascimento">
                    <label for="">Telefone</label>
                    <input type="text" name="telefone" id="">
                    <label for="">Instituição</label>
                    <input type="text" name="instituicao" id="">
                    <label for="">Cidade</label>
                    <input type="text" name="cidade" id="">
                    <label for="">Senha</label>
                    <input type="password" name="senha" id="">
                    <label for="">Repita a Senha</label>
                    <input type="password" name="" id="">

                </div>
                <div class="btn-group">
                    <button type="submit">Finalizar Cadastro</button>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        var select = document.getElementById('tipo_curso');
        var value = select.options[select.selectedIndex].value;
        console.log(value);
        console.log(data)
    </script>

</body>



<link rel="stylesheet" href="/public/js/javascript.js">

</html>