<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci a Senha</title>
    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="/Style/csspages/esqueciASenha.css">
</head>

<body id="esqueciASenha">
    <div id="container">
        <div class="form">

            <div class="back-box">
                <a href="/"><img src="Images/arrow.svg" alt=""></a>
            </div>
            <br>
            <br>
            <p>Insira seu e-mail ou seu telefone para recuperar sua senha:</p>
            <br>
            <form action="">
                <div class="input-group">
                    <input type="text" name="" id="" placeholder="Numero de Telefone">
                </div>
            </form>
            <br>
            <br>
            <div class="btn-group">
                <button>Enviar</button>
            </div>
        </div>
    </div>
</body>

</html>