<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/Style/style.css" />
    <link rel="stylesheet" href="/Style/csspages/home.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
</head>

<%- contentFor('main') %>
    <section class="home" id="main">
        <div class="home-content">
            <div class="home-titulo">
                <h2>Confuso?</h2>
            </div>
            <div class="home-subtitulo">
                <p>Veja quais atividades são válidas e quantas horas podem ser contabilizadas de acordo com a resolução!</p>
            </div>
            <div class="home-container">
                <div class="home-tamanho">
                    <button class="accordion-home">Atividades Extracurriculares</button>
                    <div class="panel-home">
                        <!--Inicio do Painel dos Botões-->
                        <button class="accordion-home">Atividades de Ensino e Formação Profissional</button>
                        <div class="panel-home">
                            <div class="container-text">
                                <p> I - disciplinas de outra graduação, cursadas no mesmo período do curso vigente no IFPI, na modalidade presencial ou a distância, nas quais o discente tenha obtido aprovação, considerando 20 horas-aula por disciplina com
                                    limite máximo de 60 (sessenta) horas/aula em todo o curso de graduação para aproveitamento da carga horária;
                                </p>
                                <p>
                                    II - participação em Programa Institucional de Monitoria Acadêmica, sendo 20 (vinte) horas por monitoria, limitadas ao máximo de 60 (sessenta) horas em todo o curso de graduação, tendo como documento comprobatório o atestado ou declaração da Coordenação
                                    do Curso responsável pela monitoria;
                                </p>
                                <p>
                                    III - participação, com frequência e aprovação, em cursos de idiomas, comunicação e expressão e de informática, realizados durante o período da graduação e que não tenham sido objeto de aproveitamento de disciplina, com limite máximo de 15 (quinze) horas
                                    por curso e de 30 (trinta) horas em todo o curso de graduação, tendo como documento comprobatório o certificado e/ou declaração de aprovação;
                                </p>
                                <p>
                                    IV – realização de estágio não obrigatório e vivência profissional, durante a graduação, com limite máximo de 40 (quarenta) horas por semestre e com limite máximo de 40 (quarenta) horas em todo o curso de graduação, tendo como documento comprobatório
                                    o certificado e/ou declaração do estágio;
                                </p>
                                <p>
                                    V – participação em representação estudantil e órgãos colegiados, sendo 10 (dez) horas por semestre, limitadas ao máximo de 20 (vinte) horas em todo o curso de graduação, tendo como documento comprobatório a portaria de nomeação.
                                </p>
                            </div>
                        </div>
                        <div>
                            <button class="accordion-home">Atividades de Pesquisa</button>
                            <div class="panel-home">
                                <div class="container-text">
                                    <p>
                                        I - participação em projetos de pesquisa, devidamente cadastrados na PróReitoria de Pesquisa e Inovação do IFPI, orientados pelos professores do curso, com limite de: <br> a) bolsista do projeto – 20 (vinte) horas
                                        por projeto e máximo de 40 (quarenta) horas em todo o curso de graduação, tendo como documento comprobatório o atestado de participação no projeto emitido pela coordenação de pesquisa do campus; <br> b) colaborador
                                        de projeto - 10 (dez) horas por projeto e máximo de 30 (trinta) horas em todo o curso de graduação, tendo como documento comprobatório o atestado de participação no projeto emitido pela coordenação de pesquisa do
                                        campus.
                                    </p>
                                    <p>
                                        II – participação/apresentação de trabalhos em eventos científicos e publicações, específicos da área, nas seguintes modalidades:
                                        <br>a) participação em eventos científicos - limitada a, no máximo, 20 (vinte) horas, sendo contabilizadas 5 (cinco) horas por evento, tendo como documento comprobatório o certificado de participação no evento,
                                        emitido pela instituição promotora do evento;
                                        <br>b) apresentação de trabalhos em eventos científicos, assim especificados:
                                        <br> i) 1 (uma) hora-aula por pôster, limitado ao máximo de 10 (dez) horasaula em todo o curso de graduação, tendo como documento comprobatório o certificado emitido pela instituição promotora do evento;
                                        <br>ii) 2 (duas) horas-aulas por apresentação oral, limitadas ao máximo de 16 (dezesseis) horas-aula em todo o curso de graduação, tendo como documento comprobatório o certificado de apresentação, emitido pela instituição
                                        promotora do evento;
                                        <br>iii) 8 (oito) horas-aulas por minicurso/oficina/palestra ministrados, limitadas ao máximo de 16 (dezesseis) horas-aula em todo o curso de graduação, tendo como documento comprobatório o certificado de palestrante,
                                        emitido pela instituição promotora do evento.
                                    </p>
                                    <p>
                                        III - publicação de artigos em periódicos com ISSN ou livros com ISBN, correspondendo a 10 (dez) horas-aula por trabalho publicado, limitadas a, no máximo, 50 (cinquenta) horas-aula em todo o curso de graduação, tendo como documento comprobatório a cópia
                                        do artigo.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="accordion-home">Atividades Outras</button>
                            <div class="panel-home">
                                <div class="container-text">
                                    <p>
                                        As Atividades Outras podem ser consideradas: esportivas, culturais, filantrópicas ou visitas técnicas.
                                    </p>
                                    <p>
                                        I - participação voluntária na organização de eventos esportivos e/ou culturais, nos quais esteja envolvida a comunidade do IFPI, cuja realização deverá estar devidamente autorizada pelo setor competente, com carga horária de até 10 (dez) horas-aula por
                                        evento, no limite total de 20 (vinte) horas. O documento comprobatório deverá ser um atestado/declaração assinado pelo servidor do IFPI responsável pela atividade, contendo o nome do evento, descrição sucinta do
                                        mesmo, bem como a data de sua realização;
                                    </p>
                                    <p>
                                        II - participação voluntária na organização de eventos esportivos e/ou culturais, em instituições públicas ou privadas socialmente reconhecidas, com até 5 (cinco) horas-aula por evento, no limite total de 10 (dez) horas-aula. O documento comprobatório
                                        deverá ser um atestado/declaração assinado e carimbado pelo responsável pela instituição pública ou privada socialmente reconhecida, conten
                                    </p>
                                    <p>
                                        III - participação voluntária em eventos filantrópicos desenvolvidos no âmbito do IFPI até 10 (dez) horas-aula por evento, no limite total de 20 (vinte) horasaula, tendo como documento comprobatório o atestado/declaração emitido pelo setor responsável.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="home-tamanho">
                    <button class="accordion-home">Atividades de Extensão</button>
                    <div class="panel-home">
                        <!-- Inicio do Painel de Botões -->
                        <button class="accordion-home">Projeto</button>
                        <div class="panel-home">
                            <div class="container-text">
                                <p>
                                    O Projeto é um conjunto de ações processuais contínuas, de caráter educativo, social, cultural, científico ou tecnológico, com objetivo específico e prazo determinado, que podem ser realizadas isoladamente ou estar vinculadas a programa de extensão;
                                </p>
                            </div>
                        </div>
                        <button class="accordion-home">Programa</button>
                        <div class="panel-home">
                            <div class="container-text">
                                <p>
                                    O Programa é um conjunto de projetos de caráter orgânico-institucional, com diretrizes claras e voltadas a um objetivo comum, podendo compreender, ou não, subprogramas. São ações, preferencialmente, de caráter multidisciplinar e integradas a atividades
                                    de pesquisa e de ensino, sendo executadas a médio e longo prazo;
                                </p>
                            </div>
                        </div>
                        <button class="accordion-home">Curso</button>
                        <div class="panel-home">
                            <div class="container-text">
                                <p>
                                    O curso é um conjunto articulado de ações pedagógicas, de caráter teórico e/ou prático, presenciais ou a distância, planejadas e organizadas de maneira sistemática, orientadas por professor do curso, com carga horária mínima de 20 horas e com critérios
                                    de avaliação definidos;
                                </p>
                            </div>
                        </div>
                        <button class="accordion-home">Evento</button>
                        <div class="panel-home">
                            <div class="container-text">
                                <p>
                                    O Evento são ações de cunho cultural, artístico, científico, educacional ou tecnológico, desenvolvidas sob a forma de ciclo de estudo, conferência, congresso, debate, encontro, seminário, feira, fórum, jornada, mesa redonda, palestra, dentre outras ações
                                    que contribuam para disseminação do conhecimento.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>