<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="/Style/csspages/paginaInicial.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Bem Vindo</title>
</head>

<body id="pagina-Inicial">
    <div id="container">
        <div class="form">
            <div class="box-cad">
                <a href="cadastro">Cadastre-se</a>
            </div>
            <h2>Login</h2>
            <p>Digite seus dados para poder acessar sua conta.</p>
            <form action="/login" method="POST">
                <div class="input-group">
                    <input type="email" name="email" id="email" placeholder="Seu e-mail aqui...">
                    <input type="password" name="senha" id="senha" placeholder="Sua senha aqui...">
                </div>
                <div class="box-senha">
                    <a href="esqueciASenha">Esqueceu a Senha?</a>
                </div>
                <div class="btn-group">
                    <button>Entrar</button>
                </div>
            </form>
        </div>
        <div class="box-image">
            <div class="image">
            </div>
            <div class="box-texto">
                <div class="box-titulo">
                    <div class="linha"></div>
                    <p class="titulo">Começe sua Jornada Aqui!</p>
                </div>

                <p class="subtitulo">Começe a organizar suas Atividades Complementares e Extensão pela nossa plataforma!
                </p>
            </div>
        </div>
    </div>
</body>

</html>