<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/csspages/post.css">
    <link rel="stylesheet" href="/Style/style.css" />
    <title>Registrar Atividades Extracurriculares</title>
</head>

<body>
    <div class="container-post select-espacamento-post label-texto caixa-select">
        <h1 class="titulo-post">
            Insira os dados abaixo para realizar o upload dos certificados
        </h1>
        <div>
            <form name="formPostACs" action="/uploadACs" class="form-modal" method="POST" enctype="multipart/form-data">
                <div class="input_horas">
                    <label for="">Insira a quantidade de horas que o certificado contabiliza:</label>
                    <input type="number" name="qtd_horas" id="qtd_horas" />
                </div>
                <div class="text_descricao">
                    <label for="">Insira a Descrição da Atividade:</label>
                    <br>
                    <textarea name="descricao" id="descricao" cols="60" rows="5"></textarea>
                </div>
                <div class="input_periodo">
                    <br>
                    <label for="">Insira o periodo realizado da atividade:</label>
                    <input type="text" name="periodo" id="periodo" placeholder="Ex: 23/09/2021 a 25/09/2021" />
                </div>
                <div class="esconder_tipo">
                    <label for="tipo_atividade">Atividade</label>
                    <select name="tipo_de_atividade" id="tipo_de_atividade">
                        <option value="Atividades Complementares">Atividades Complementares</option>
                    </select>
                </div>
                <div>
                    <br>
                    <label for="">Indique o tipo de atividade:</label>
                    <select name="categoria_atividade" id="categoria_atividade">
                        <option value="" selected disabled hidden>----- Selecione a categoria -----</option>
                        <% categorias_recuperadas_acs.forEach(categorias_recuperadas_acs => { %>
                            <option value="<%= categorias_recuperadas_acs.id_tipo_atividade_acs%>" id="<%= categorias_recuperadas_acs.id_tipo_atividade_acs%>">
                                <%= categorias_recuperadas_acs.tipo_atividade%>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <div>
                    <label for="">Selecione a ação:</label>
                    <select name="subcategoria_atividade" id="subcategoria_atividade">
                        <option value="" selected disabled hidden>----- Selecione a subcategoria -----</option>
                        </option>
                    </select>
                </div>

                <div>
                    <label id="horasPrevistas"></label>
                </div>
                <div class="env-btn">
                    <input type="file" name="certificados" id="certificados" />
                    <label for="certificados"> <i class='bx bxs-folder-open'></i>Insira o arquivo</label>
                </div>
                <div class="btn-box botao-form-post">
                    <button>SALVAR</button>
                </div>
            </form>
        </div>
        <div class="container_table">
            <h1>Tabela De Atividades Complementares</h1>
            <table>
                <tr>
                    <th>Atividade</th>
                    <th>Mínima</th>
                    <th>Máxima</th>
                </tr>
                <tr>
                    <td>Disciplinas de outras graduação</td>
                    <td>20h</td>
                    <td>60h</td>
                </tr>
                <tr>
                    <td>Monitoria</td>
                    <td>20h</td>
                    <td>60h</td>
                </tr>
                <tr>
                    <td>Cursos de idioma</td>
                    <td>15h</td>
                    <td>30h</td>
                </tr>
                <tr>
                    <td>Estágio</td>
                    <td>40h</td>
                    <td>40h</td>
                </tr>
                <tr>
                    <td>Representação Estudantil</td>
                    <td>10h</td>
                    <td>20h</td>
                </tr>
                <tr>
                    <td>Bolsista do projeto</td>
                    <td>20h</td>
                    <td>40h</td>
                </tr>
                <tr>
                    <td>Colaborador do projeto</td>
                    <td>10h</td>
                    <td>30h</td>
                </tr>
                <tr>
                    <td>Participação em evento científico</td>
                    <td>5h</td>
                    <td>20h</td>
                </tr>
                <tr>
                    <td>Apresentação em poster</td>
                    <td>1h</td>
                    <td>10h</td>
                </tr>
                <tr>
                    <td>Apresentação oral</td>
                    <td>2h</td>
                    <td>10h</td>
                </tr>
                <tr>
                    <td>Palestra/Minicurso/Oficina ministrados</td>
                    <td>8h</td>
                    <td>16h</td>
                </tr>
                <tr>
                    <td>Publicação de artigo</td>
                    <td>10h</td>
                    <td>50h</td>
                </tr>
                <tr>
                    <td>Organização de eventos esportivos e/ou culturais juntos ao IFPI</td>
                    <td>10h</td>
                    <td>20h</td>
                </tr>
                <tr>
                    <td>Organização de eventos esportivos e/ou culturais em instituições públicas ou privadas socialmente reconhecidas</td>
                    <td>5h</td>
                    <td>10h</td>
                </tr>
                <tr>
                    <td>Participação voluntária em eventos filantrópicos desenvolvidos no âmbito do IFPI</td>
                    <td>10h</td>
                    <td>20h</td>
                </tr>
                <tr>
                    <td>Visitas técnicas</td>
                    <td>2h</td>
                    <td>12h</td>
                </tr>
            </table>
        </div>
    </div>
    </div>

    <script>
        const select_categoriaAtividade = document.getElementById('categoria_atividade');
        const select_subCategoriaAtividade = document.getElementById('subcategoria_atividade');

        select_categoriaAtividade.addEventListener('change',(e)=> {
            let value = select_categoriaAtividade.value;
            console.log(value)

            while(select_subCategoriaAtividade.firstChild) {
                select_subCategoriaAtividade.removeChild(select_subCategoriaAtividade.firstChild)
            }

            fetch(`/subcategorias_json/${value}`)
            .then(response =>{
                response.json().then(data =>{
                    data.subcategorias_recuperadas.forEach(item =>{
                        let option = document.createElement('option');

                        option.innerHTML= item.subcategoria_atividade
                            option.value = item.subcategoria_atividade
                            option.id = item.id_subcategoria_atividade

                           
                            select_subCategoriaAtividade.appendChild(option)    
                    })
                })   
            })
            .catch(err => console.log(err));
        });

        select_subCategoriaAtividade.addEventListener('change', e => {
            console.log(select_subCategoriaAtividade.value)
        })
    </script>

</body>

</html>