<%- contentFor('main') %>

    <div class="container-post select-espacamento-post">
        <h1 class="titulo-post">
            Insira os dados abaixo para realizar o upload dos certificados
        </h1>
        <form action="/upload" class="form-modal" method="POST" enctype="multipart/form-data">
            <label for="">Insira o arquivo abaixo:</label>
            <input type="file" name="certificados" id="certificados" />
            <label for="">Insira a quantidade de horas que você deseja contabilizar:</label>
            <input type="number" name="qtd_horas" id="qtd_horas" />
            <label for="tipo_de_atividade">Indique o tipo de atividade</label>
            <select name="tipo_de_atividade" id="tipo_de_atividade">
            <option value="Atividades De Extensão">Atividades de Extensão</option>
        </select>
            <label for="categoria_atividade">Indique a categoria dessa atividade</label>
            <select name="categoria_atividade" id="categoria_atividade">
        <option value="Programa">Programa</option>
        <option value="Projeto">Projeto</option>
        <option value="Curso">Curso</option>
        <option value="Evento">Evento</option>
        <option value="Prestação de Serviço">Prestação de Serviço</option>    
</select>
            <div class="btn-box botao-form-post">
                <button>ENVIAR</button>
            </div>
        </form>
    </div>