.container-post {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.select-espacamento-post select,
input {
    margin-bottom: 1.2rem;
    margin-left: 0.4rem;
    height: 30px;
}

.caixa-select select,
option {
    height: 30px;
    font-size: 15px;
}

.env-btn input[type="file"] {
    display: none;
}

.env-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.esconder_tipo {
    display: none;
}

.env-btn label {
    padding: 10px 10px;
    border-radius: 10px;
    width: 200px;
    background: #FFF;
    color: black;
    border: solid 2px black;
    font-size: 200px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.env-btn label:hover {
    background-color: var(--color-greenhover);
}

.titulo-post {
    font-weight: bold;
    font-size: xx-large;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.label-texto label {
    font-size: large;
}

.botao-form-post {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-modal select {
    border-radius: 10px;
    text-align: center;
    outline: none;
    border: 1px solid black;
}

.btn-box button {
    background-color: var(--color-green);
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 12px 38px;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 0.3s;
}

.btn-box button:hover {
    background-color: var(--color-greenhover);
}

td,
th {
    border: 1px solid black;
    font-size: 16px;
    padding: 6px;
    text-align: center;
}

.input_periodo input{
    border-radius: 10px;
    border: 1px solid black;
    width: 25%;
    text-align: center;
}

.input_horas input{
    border-radius: 10px;
    border: 1px solid black;
    width: 10%;
    text-align: center;
}

.text_descricao textarea{
    border-radius: 8px;
    border: 1px solid black;
    resize: none;

}

.container_table {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}